:root {
  --dark-blue: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--dark-blue-main);
  color: var(--white);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 95vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

nav {
  display: flex;
  gap: 2rem;
}

#hero {
  text-align: center;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

#hero .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1 {
  font-size: 2.2rem;

  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero-text .btn {
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--cyan);
  color: var(--dark-blue-main);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2rem;
  margin-block: 1rem;
  margin-bottom: 2rem;
}
.hero-text .btn:hover {
  background-color: var(--blue);
  color: var(--white);
  transform: scale(1.05);
  font-size: 1.1rem;
}
.hero-text .btn:active {
  transform: scale(0.9);
  font-size: 0.9rem;
}
#features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#features .features-card {
  width: 50%;
}
